@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
:root {
    --header-color: #e9edc9;
    --main-color: #e5e5e5;
}
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#header {
    position: sticky;
    top: 0;
}

#filters {
    width: 100%;
}

#logo-img {
    width: 80px;
    border-radius: 50%;
}

.img {
    width: 80%;
}

.img-in-cart {
    height: 100%;
}

a {
    text-decoration: none;
}

#main {
    min-height: 70vh;
}

.filter-title:hover,
label:hover,
input[type="checkbox"]:hover,
input[type="radio"]:hover {
    cursor: pointer;
}

.hide-filters-container {
    display: none;
}

@media only screen and (max-width: 992px) {
    .currency-info h3 {
        font-size: larger;
    }
    #filters h3,
    #filters h1 {
        font-size: larger;
    }
    #filters h1 {
        font-weight: bold;
    }
    #btn-reset-filters {

    }
}

