@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
:root {
    --header-color: #e9edc9;
    --main-color: #e5e5e5;
}
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.wrapper {
    width: 100%;
    background-color: gray;
}
#header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--header-color);
    padding: 15px 0;
    gap: 20px;
}
a {
    text-decoration: none;
    color: black;
}
#logo {
    display: flex;
    align-items: center;
    height: 50px;
    column-gap: 5px;
}
#logo:hover {
    cursor: pointer;
}
#logo a {
    display: flex;
    align-items: center;
}
#logo-img {
    height: 60px;
    width: 60px;
}
#logo-title {
    font-size: 54px;
    font-family: 'Caveat';
}
#navbar-1 {
    display: flex;
    border: 1px solid black;
}
#navbar-1 input {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    width: 30vw;
}
#navbar-1 button {
    display: flex;
    align-items: center;
    column-gap: 4px;
    font-size: 18px;
    padding: 3px 10px;
    border: none;
    outline: none;
    background-color: rgba(0, 128, 0, 0.466);
}
#navbar-1 button:hover {
    cursor: pointer;
}
#navbar-1 button:active {
    background-color: rgba(0, 128, 0, 0.726);
}
.currency-info {
    color: green;
}
#navbar-2 a:hover {
    font-size: 26px;
}
#navbar-2 a:active {
    font-size: 22px;
}
#navbar-3 {
    font-size: 24px;
    display: flex;
    column-gap: 10px;
}
#navbar-3 a:hover {
    font-size: 26px;
}
#quantity-in-cart{
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 1px 3px;
    border-radius: 50%;
    border: none;
    outline: none;
}
#currency-container {
    display: flex;
    align-items: center;
    margin: 0 10px;
}
#currency {
    height: 80%;
    border: none;
    outline: none;
}
#currency:hover {
    cursor: pointer;
}
label:hover,
input[type="checkbox"]:hover,
input[type="radio"]:hover {
    cursor: pointer;
}
.filter {
    margin-bottom: 3px;
}
#filters {
    width: 100%;
    margin: 20px 0;
}
.hide-filters-container {
    display: none;
}
.show-filters-container {
    display: grid;
    padding: 0 100px;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    align-items: flex-start;
}
#display-filters{
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
}
.filter-title {
    margin-bottom: 10px;
    width: fit-content;
}
.filter-title:hover {
    cursor: pointer;
}
#container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: auto;
}
.main {
    padding: 20px;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
    gap: 30px;
}
.main-cart {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.cart-empty {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.cart-empty .product {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: wheat;
    padding: 10px;
    width: 220px;
}
.product-cart {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr;
    width: 100%;
    height: 300px;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: wheat;
}
.product-cart img { 
    margin: 0 auto;
    width: 60%;
    height: 250px;
}
.product p {
    font-size: 14px;
}
.description {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.img{
    width: 100%;
    height: 250px;
}
.btn,
.clicked-btn {
    width: 100%;
    font-size: 30px;
    color: green;
    border: 2px solid black;
    outline: none;
    padding: 10px 0;
}
.btn:hover {
    cursor: pointer;
    font-weight: bold;
}
.btn:active {
    padding: 5px 0;
}
.stock {
    font-weight: bold;
    color: red;
}
.price {
    color: green;
}
.error-message {
    color: red;
    display: inline-block;
    margin: 0 auto;
    font-size: 48px;
    font-weight: bold;
}
.control-buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.set-quantity {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    border: 2px solid black;
}
.set-quantity label {
    font-size: 22px;
    padding: 10px;
    text-align: center;
}
.set-quantity button {
    font-size: 22px;
    outline: none;
    padding: 5px 10px;    
    width: 100%;
    border: none;
    color: green;
}
.buttons button:hover {
    font-weight: bold;
}
.buttons button:active {
    font-weight: lighter;
}

#footer {
    width: 100%;
    min-height: 20vh;
    background-color: var(--header-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
#inner-footer-1 {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
